@import "../../responsive.scss";

.Card{
    display: flex;
    gap: 20px;

    .imageContainer{
        flex:2 ;
        height: 200px;

        @include sm{
            display: none;
        }

        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: 10px;
        }
    }

    .textContainer{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;


        img {
            width: 16px;
            height: 16px;
        }

        .title{
            font-size: 20px;
            font-weight: 600;
            color: #444;
            transition: all 0.4s ease;

            &:hover{
                color: #000;
                scale: 1.05;
            }
        }

        .address{
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #888;
        }

        .price{
            font-size: 20px;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(254, 285, 81, 0.738);
            width: max-content;
        }

        .bottom{
            display: flex;
            justify-content:space-between;
            gap: 10px;

            .modal-overlay {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 9999;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
              }
              
              .modal-content {
                background: white;
                border-radius: 8px;
                padding: 20px;
                max-width: 500px;
                width: 100%;
              }
              

            .features{
                display: flex;
                gap: 20px;
                font-size: 14px;

                .feature{
                    display: flex;
                    align-items: center;
                    background-color: whitesmoke;
                    padding: 5px;
                    border-radius: 4px;

                }
               
            }

            .icons {
                display: flex;
                gap: 20px;

                
                .icon{
                    border: 1px solid #999;
                    padding: 5px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    justify-content: center;

                    &:hover{
                        background-color: lightgray;
                    }
                }
            }
            
        }
    }
}