.newPostPage {
    height: 100%;
    display: flex;
  
    .formContainer {
      flex: 3;
      overflow-y: scroll;
  
      .wrapper {
        margin: 30px 50px 100px 0px;
  
        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;
  
          .item {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 5px;
  
     
  
            input {
              padding: 20px;
              border-radius: 5px;
              border: 1px solid gray;
            }
  
            select {
              padding: 19px;
            }
  
            &.description {
              width: 100%;
              height: 320px;
  
              .quill > .ql-container > .ql-editor{
                height: 200px;
                font-size: 16px;
              }
            }
          }
          .sendButton {
            width: 100%;
            height: 90px;
            border-radius: 5px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  
    .chatContainer{
      flex: 2;
      background-color: #fcf5f3;
      height: 100%;
      .section{
          .grid{
              .dalem{
                  h1{
                      color: #18272F;
                      font-weight: 700;
                      font-size: 2rem;
                  }
                  span{
                      text-decoration: none;
                      color: #18272F;
                      font-weight: 700;
                    position: relative;
                  }
                  
                  span::before {
                    content: '';
                    background-color: hsla(196, 61%, 58%, .75);
                    position: absolute;
                    left: 0;
                    bottom: 3px;
                    width: 100%;
                    height: 8px;
                    z-index: -1;
                    transition: all .3s ease-in-out;
                  }
                  
                  span:hover::before {
                    bottom: 0;
                    height: 100%;
                  }
              }
          }
        }
      }
  }